name: Enterovirus Prediction Bot

on:
  schedule:
    # 台北時間週六 12:00 等於 UTC 時間週六 04:00
    - cron: '45 5 * * *'
  workflow_dispatch: # 允許手動點擊執行

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Create Service Account Key
      env:
        GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      run: |
        echo "$GCP_SA_KEY" > service_account.json

    - name: Run Prediction Script
      run: python enterovirus_main.py
